chat_box.json
[{"id":"54e2d5bc.84a3ac","type":"tab","label":"Chat","disabled":true,"info":""},{"id":"e7043658.a20618","type":"tab","label":"template","disabled":true,"info":""},{"id":"1470682a.ca39e8","type":"tab","label":"template","disabled":false,"info":""},{"id":"f18f5bee.42a6d8","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e9920354.a140f","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bae9cd0f.ea033","type":"ui_tab","name":"Chat","icon":"dashboard","disabled":false,"hidden":false},{"id":"34df98a7.a71728","type":"ui_group","name":"Chat","tab":"bae9cd0f.ea033","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d1ef358.d8198c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4a93a592.39efec","type":"ui_group","name":"Test Messages","tab":"c4971399.f6246","order":1,"disp":false,"width":"12","collapse":false},{"id":"c4971399.f6246","type":"ui_tab","name":"Chat Box","icon":"dashboard","disabled":false,"hidden":false},{"id":"a91cd93c.4ca95","type":"ui_group","name":"PWS Queries","tab":"a105e68a.f1f57","order":1,"disp":true,"width":"6","collapse":false},{"id":"1bba4345.fa4d15","type":"ui_group","name":"Forecast","tab":"a105e68a.f1f57","order":3,"disp":true,"width":"8","collapse":false},{"id":"ada0ce32.b103c","type":"ui_group","name":"PWS Results","tab":"a105e68a.f1f57","order":2,"disp":true,"width":"12","collapse":false},{"id":"a105e68a.f1f57","type":"ui_tab","name":"PWS Example","icon":"wi-wu-partlycloudy","order":1,"disabled":false,"hidden":false},{"id":"6ce8b750.931748","type":"mqtt-broker","broker":"rabbitblack","port":"1883","clientid":""},{"id":"7727324e.a96b8c","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b1c2d933.776368","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3956853a.8f771a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8777bfb0.8b2d5","type":"ui_button","z":"54e2d5bc.84a3ac","name":"","group":"34df98a7.a71728","order":2,"width":0,"height":0,"passthru":true,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"content","topicType":"str","x":490,"y":460,"wires":[["f0b5c2cb.2e4e"]]},{"id":"2c1b9dff.f12092","type":"ui_text_input","z":"54e2d5bc.84a3ac","name":"","label":"","tooltip":"","group":"34df98a7.a71728","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"content","topicType":"str","x":320,"y":460,"wires":[["8777bfb0.8b2d5"]]},{"id":"f0b5c2cb.2e4e","type":"mqtt out","z":"54e2d5bc.84a3ac","name":"out","topic":"/19CLC8/Team10/19127334_19127347_19127372","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e9920354.a140f","x":650,"y":460,"wires":[]},{"id":"1546aade.8aa7a5","type":"template","z":"e7043658.a20618","name":"html template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<!--<head>-->\n<!--    <title>Chat</title>-->\n<!--</head>-->\n<body>\t\n\t<div class=\"container\">\n        <div class=\"header\">\n            <h1>Team 10 Chatbox</h1>\n\t\t</div>\n\t<div class=\"body\">\n\t     <p class=\"message\">Hello</p>\n\t     <p class=\"message user_message\">Hi</p>\n\t</div>\n\t</div>\n\n</body>\n</html>","output":"str","x":300,"y":200,"wires":[[]]},{"id":"7f629b82.cb2724","type":"inject","z":"e7043658.a20618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":40,"wires":[["f5a0ca9a.3c71d8"]]},{"id":"c7db0427.a9e368","type":"debug","z":"e7043658.a20618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":60,"wires":[]},{"id":"f5a0ca9a.3c71d8","type":"function","z":"e7043658.a20618","name":"Display Messages","func":"var data=context.get('data')  ||  [];\nvar count=context.get('count');\n\nvar payload=msg.payload;\nvar topic=msg.topic\nif(count==undefined)\n{\n    count=0;\n}\nvar d= new Date();\ncount+=1;\nnow=d.getTime();\nvar s= new Date(now);\nvar mtime=s.getDate()+\"/\"+(s.getMonth()+1)+\"/\" +s.getFullYear()+ \"- \"+ s.getHours() +\":\"+s.getMinutes()+\":\"+s.getSeconds();\nvar mdata={};\n\nmdata.msg=payload.slice(0,30) +\"   \"+ count;\nmdata.time=mtime;\ndata.push(mdata);\nnode.log(\"data \" + data.length);\nif(data.length>10)\n{\n    data.shift();\n}\nif(topic==\"reset\")\n{\ndata=[];\nnode.log(data)\ncount=0;\n}\n\ncontext.set('count',count);\ncontext.set('data',data);\nmsg1={};\n\nmsg1[\"payload\"]=data;\nmsg1.topic=topic;\nmsg1.total=count;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":120,"wires":[["1546aade.8aa7a5","c7db0427.a9e368"]]},{"id":"c8fb37f5.38c558","type":"inject","z":"e7043658.a20618","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"reset","payload":"true","payloadType":"str","x":90,"y":260,"wires":[["f5a0ca9a.3c71d8"]]},{"id":"3b74ff54.4f38f","type":"mqtt in","z":"54e2d5bc.84a3ac","name":"in","topic":"/19CLC8/Team10/19127334_19127347_19127372","qos":"2","datatype":"auto","broker":"f18f5bee.42a6d8","nl":false,"rap":true,"rh":0,"x":300,"y":580,"wires":[["111492d7.7c30ad"]]},{"id":"111492d7.7c30ad","type":"debug","z":"54e2d5bc.84a3ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":580,"wires":[]},{"id":"d11b6eb3.4dd28","type":"template","z":"1470682a.ca39e8","name":"html template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<body>\t\n\t<div class=\"container\">\n        <div class=\"header\">\n            <h1>Team 10 Chatbox</h1>\n\t\t</div>\n\t<div class=\"body\">\n\t     {{#payload}}\n        <div class=\"\">\n            <!--<span>{{name}}</span>-->\n            <span>{{msg}}</span>\n        </div>\n    {{/payload}}\n\n\t</div>\n\t</div>\n\n</body>","output":"str","x":500,"y":800,"wires":[["d1794472.983e88"]]},{"id":"d1794472.983e88","type":"ui_template","z":"1470682a.ca39e8","group":"4a93a592.39efec","name":"Scrolling Messages","order":2,"width":0,"height":0,"format":"<style> \n*{\n    margin:       0;\n    padding:     0;\n    font-family: sans-serif;\n    box-sizing: border-box;\n}\nbody{\n    height:   100vh;\n    background-color: white;\n    display: flex;\n    /*justify-content: center;*/\n    /*align-items:    center;*/\n}\n.container{\n    width: 630px;\n    height: 290px;\n    display: flex;\n    flex-direction: column;\n    box-shadow: 2px 2px 20pcx rgba(0,0,0,0.4);\n    background-color: blue;\n}\n\n.header {\n    background-color: black;\n    /*width: 100%;*/\n}\n\n.header h1{\n    /*color: white;*/\n    padding: 5px;\n    margin: 0;\n    text-align: center;\n    font-family: Comic Sans MS;\n    font-size: 40px;\n}\n.body{\n    flex: 1;\n    width: 100%;\n    color: white;\n    background-color: rgba(0,0,0,0.7);\n    padding: 20px 30px;\n}\n.message{\n    background-color: black;\n    padding: 5px;\n    color: white;\n    width: fit-content;\n    border-radius: 10px;\n    margin-bottom: 15px;\n}\n.user_message{\n    margin-left: auto;\n    background-color: white;\n    color: black;\n    text-align: left;\n} \n</style>\n<div ng-bind-html=\"msg.payload\" style=\"width:300px; height:300px\">\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":510,"y":840,"wires":[[]]},{"id":"44f6b3e6.751ddc","type":"mqtt out","z":"1470682a.ca39e8","name":"","topic":"/19CLC8/Team10/19127334_19127347_19127372","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3956853a.8f771a","x":590,"y":580,"wires":[]},{"id":"a827d2e8.22b8a","type":"ui_text_input","z":"1470682a.ca39e8","name":"","label":"Input Your Message","tooltip":"","group":"4a93a592.39efec","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":300,"y":520,"wires":[["3125a78e.4add58"]]},{"id":"47268758.a7f998","type":"switch","z":"1470682a.ca39e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"send","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":660,"wires":[["cf238c9d.a73f4"]]},{"id":"b0bd5abf.c833d8","type":"ui_button","z":"1470682a.ca39e8","name":"","group":"4a93a592.39efec","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"send","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":660,"wires":[["47268758.a7f998"]]},{"id":"3125a78e.4add58","type":"function","z":"1470682a.ca39e8","name":"getMessage","func":"global.set(\"mess\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nglobal.set(\"mess\", \"\");","finalize":"","libs":[],"x":510,"y":520,"wires":[[]]},{"id":"cf238c9d.a73f4","type":"function","z":"1470682a.ca39e8","name":"","func":"msg.payload = global.get(\"name\") + \": \" + global.get(\"mess\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":620,"wires":[["44f6b3e6.751ddc"]]},{"id":"4f0e5d62.c10424","type":"mqtt in","z":"1470682a.ca39e8","name":"","topic":"/19CLC8/Team10/19127334_19127347_19127372","qos":"2","datatype":"auto","broker":"3956853a.8f771a","nl":false,"rap":true,"rh":0,"x":390,"y":720,"wires":[["f0579ce1.03c29"]]},{"id":"f0579ce1.03c29","type":"function","z":"1470682a.ca39e8","name":"Display Messages","func":"var data=context.get('data')  ||  [];\n\nvar payload=msg.payload;\nvar mdata={};\n\nmdata.msg=payload.slice(0,90);\ndata.push(mdata);\nnode.log(\"data \" + data.length);\nif(data.length>10)\n{\n    data.shift();\n}\n\ncontext.set('data',data);\nmsg1={};\n\nmsg1[\"payload\"]=data;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":760,"wires":[["d11b6eb3.4dd28"]]},{"id":"13a5ad5a.e4c0e3","type":"ui_text_input","z":"1470682a.ca39e8","name":"","label":"Input Your Name","tooltip":"","group":"4a93a592.39efec","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":290,"y":440,"wires":[["a4061a90.44af78"]]},{"id":"a4061a90.44af78","type":"function","z":"1470682a.ca39e8","name":"getName","func":"if(msg.payload == \"\"){global.set(\"name\", \"Anonymous\");}\nelse global.set(\"name\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nglobal.set(\"name\", \"Anonymous\");","finalize":"","libs":[],"x":500,"y":440,"wires":[[]]}]